<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
            <title>header footer</title>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
           
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            
           

            <style>
               
                #top-header{
                    background-color:#333;
                    color:#fff;
                }
            
.home-account {
    text-align: center;
    display: block;
}
.home-account a {
    display: inline-block;
    margin-right: 15px;
    padding: 10px 0;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:#f78e21;
}
.cart-info {
    text-align: center;
    display: block;
    padding:8px 0;
    font-size:13px;
    font-family:"Open Sans",sans-serif;
}
.cart-info .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.cart-info a {
    text-decoration: none;
    color: #f78e21;
}
.logo{
    text-align:center;
    padding:20px 0;
}
.logo img{
    vertical-align: middle;
    border: none;
}
.main-menu a{
    color:black;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration:none;
}
                .main-menu a:hover{
                    color:orange;
                }
.main-menu ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #444;
    text-transform: uppercase;
    margin-right: 35px;

   
    text-align: center;
    padding:30px 0;
}
.main-menu li {
    display: block;
    margin-top: -60px;
    margin-right: -35px;
    list-style: none;
    display: inline-block;
    list-style:none;
    margin:10px;
}
.search-box input {
    margin-top: 0px;
}
input, textarea {
    padding: 10px;
    border: 1px solid #e2e2e2;
    width: 100%;
    margin-top: 25px;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    color: #aaa;
    outline: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.search-box input[type="submit"] {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 34px;
    height: 34px;
    background: url(/static/images/search-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    background-color: transparent;
    content: '';
    margin-top: 0px;
    border: 0px;
}


input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: -internal-light-dark(black, white);
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
}
input {
    font: 400 13.3333px Arial;
    padding: 10px 2px;
    border-width: 1px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));

}
.search-box {
    text-align: right;
    margin-top: 33px;
    position: relative;

}


footer {
    background-color: #f3f3f3;
    border-top: 4px solid #f78e21;
    margin-top: 120px;
    height:100vh;
}
.subscribe-form {
    margin-top: 40px;
    padding-bottom: 40px;
}
.subscribe-form span {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    float: left;
    margin-right: 26px;
}
.subscribeform{
    position:relative;
    display: inline-block;
    box-sizing: border-box;
}
.subscribe-form input#subscribe {
    padding: 4px 10px 4px 10px;
    line-height: 34px;
    height: 34px;
    max-width: 280px;
    width: 280px;
    margin-top: 0px;
    outline: 0;
    border-color: #f3f3f3;
}
input, textarea {

    border: 1px solid #e2e2e2;
     font-size: 13px;
    font-style: italic;
    font-weight: 300;
    color: #aaa;
}
.subscribe-form input[type="submit"] {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 34px;
    height: 34px;
    background: url(/static/images/subscribe-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    background-color: transparent;
    content: '';
    margin-top: 0px;
    border: 0px;
}
.social-bottom {
    margin-top: 40px;
    padding-bottom: 40px;
}
.social-bottom span {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    float: left;
    margin-right: 26px;
}
.social-bottom li {
    list-style: none;
    display: inline-block;
}
.social-bottom ul {
    margin: 0;
    padding: 0;
}
.social-bottom a {
    background-color: #fff;
    font-size: 18px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #bbb;
    text-decoration:none ;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.shop-list li {
    margin:10px 0;
    list-style:none;
    
}
.shop-list li :hover{
    color: #f78e21;
}
.shop-list a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #888;
}


    .about p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #666;
    margin: 0 0 10px;
}
.footer-title{
    margin-top:60px;
}
.footer-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.recent-post {
    overflow: hidden;
    margin-bottom: 20px;
}
.recent-post-thumb {
    float: left;
    margin-right: 20px;
    width: 70px;
    height: 70px;
}
.recent-post-thumb img{
    vertical-align: middle;
}

.recent-post-info {
    overflow: hidden;
}
.recent-post a{
    text-decoration: none;
    color: #333;
    font-weight: 700;
}
.recent-post a:hover{
    color:#f78e21;
}
.more-info p {
    padding-bottom: 20px;
    
    margin: 0 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #666;
}
.more-info a{
    text-decoration: none;
    color: #f78e21;
}
.more-info li{
    list-style: none;
    margin:10px;
    margin-top:10px;

}
.fa{
    color:#f78e21;

display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
   .login-form{
            margin-left:20%;
           
        }
        .form-heading{
            text-align:center;
            color:gray;
            font-style:italic;
            margin-top:5%;
            font-weight:300;
        }
            
       
        .form{
            
           background:transparent;
            border-bottom:1px solid #f78e21;
            border-left:none;
            border-top:none;
            border-right:none;
            margin-top:5%;
            width:80%;
            float:left;
           
           
        }
         #customCheck1{
             
             font-weight:bold;
             color:#333;
             
                }
        .login-form a{
            color:#0000FF;
            float:left;
            margin-top:10%;
                }
           
        
        .login-form input:focus{
            outline:none;
        }
        .btn:focus{
            outline:none;
        }
        
        
     
        .btn{
            color:#fff;
            background-color:#f78e21;
            width:30%;
            margin-bottom:20%;
            width:30%;
            float:right;
            
            
        }
        .btn:focus{
            outline:none;
        }
        .btn:hover{
            color:#fff;
        }
        @media screen and (max-width: 600px) {
  div.search-box{
    display: none;
  }
        }
            </style>  
            {% block head %} {% endblock %}   
        </head>
            <body>
                <header>
                <div id="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                               <div class="home-account">
                                   <a href="#" class="login">Home account </a>
    
                               </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="cart-info">
                                    <i class="fa fa-shopping-cart"></i>
                                        
                                        <a href="#">(5 items)</a>
                                          in your cart
                                        <a href="#">($45.80)</a>
                                        
                                    
                                </div>
                            </div>                       
                         </div>
                    </div> 
                 </div>
                 <div class="main-header">
                     <div class="container">
                         <div class="row">
                            
                             <div class="col-md-6">
                                 <div class="main-menu">
                                     <ul>
                                         <li>
                                             <a href="{% url 'home' %}">home</a>
 
                                         </li>
                                         <li>
                                             <a href="about.html">about</a>
                                             
                                         </li>
                                         <li>
                                             <a href="product.html">products</a>
                                             
                                         </li>
                                         <li>
                                             <a href="contact-us.html">contact</a>
                                             
                                         </li>
                                         <li>
                                             <a href="signin.html">login <span>
                                                <i class="fa fa-user" style="padding-left:10px;"></i></span></a>
                                             
                                         </li>
                                     </ul>
                                 </div>
                             </div>
                             <div class="col-md-3">
                                 <div class="search-box">
                                     <form name="search-form" method="get" class="search-form">
                                       <input id="search" type="text" placeholder="search here">
                                       <input type="submit" id="search-button">
                                
                                         
                                     </form>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                
             </header>
             <section> {% block content %}
                {% endblock %}</section>
             <footer>
                 <div class="container">
                     <div class="top-footer">
                         <div class="row">
                             <div class="col-md-9">
                                 <div class="subscribe-form">
                                     <span>Get in touch with us</span>
                                     <form method="get" class="subscribeform">
                                         <input id="subscribe" type="text">
                                         <input type="submit" id="subscribeButton">
                                     </form>
                                 </div>
                             </div>
                         
                         <div class="col-md-3">
                             <div class="social-bottom">
                                 <span>Follow us: </span>
                                 <ul>
                                     <li>
                                         <a href="#" class="fa fa-facebook"></a>
                                     </li>
                                     <li>
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-rss"></a>
                                    </li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                    </div>
                   
                 <div class="main-footer">
                     <div class="row">
                         <div class="col-md-3">
                             <div class="about">
                                 <h4 class="footer-title">About Grill</h4>
                                 <p>Grill is free HTML5 template by 
                                 <span class="blue">template</span>
                                 <span class="green">mo</span>
                                 and it is a free responsive bootstrap layout that can be applied for any purpose.
                                   <br>
                                   <br>
                                   Credit goes to 
                                   <a rel="nofollow" href="http://unsplash.com" style="color:orange;">Unsplash</a>
                                   for photos used in this template. Nam commodo erat quis ligula placerat viverra.</p>
                                   </div>
                         </div> 
                                <div class="col-md-3">
                                    <div class="shop-list">
                                        <h4 class="footer-title">Shop text-categories</h4>
                                        <ul>
                                          <li><a href="#">
                                             <i class="fa fa-angle-right"></i>
                                             New Grill Menu
                                          </a>
                                        </li> 
                                        <li><a href="#">
                                            <i class="fa fa-angle-right"></i>
                                            Healthy Fresh juices
                                         </a>
                                       </li>  
                                       <li><a href="#">
                                            <i class="fa fa-angle-right"></i>
                                            Spicy Delicious Meals
                                     </a>
                                   </li>  
                                   <li><a href="#">
                                    <i class="fa fa-angle-right"></i>
                                    Simple Itallian Pizzas
                                 </a>
                               </li>  
                               <li><a href="#">
                                <i class="fa fa-angle-right"></i>
                                Pure Good Yogurts
                             </a>
                           </li>  
                           <li><a href="#">
                            <i class="fa fa-angle-right"></i>
                            Ice-cream for kids
                         </a>
                       </li>   
                                        </ul>
                                    </div>
                                </div> 
                        
                             <div class="col-md-3">
                                 <div class="recent-posts">
                                     <h4 class="footer-title">Recent posts</h4>
                                     <div class="recent-post">
                                         <div class="recent-post-thumb">
                                             <img src="/static/images/recent-post1.jpg">
                                         </div>
                                         <div class="recent-post-info">
                                             <h6>
                                                 <a href="#">Delicious and Healthy Menus</a>
                                             </h6>
                                             <span style="color:#f78e21;">24/12/2084</span>
                                         </div>

                                     </div>
                                     <div class="recent-post">
                                         <div class="recent-post-thumb">
                                             <img src="/static/images/recent-post2.jpg">
                                             </div>
                                             <div class="recent-post-info">
                                             <h6>
                                                 <a href="#">Simple and effective meals</a>
                                             </h6>
                                             <span style="color: #f78e21;">18/12/2084</span>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-3">
                                 <div class="more-info">
                                     <h4 class="footer-title">more info</h4>
                                     <p>
                                        Sed dignissim, diam id molestie faucibus, purus nisl pretium quam, in pulvinar velit massa id elit.

                                     </p>
                                     <ul>
                                         <li>
                                             <i class="fa fa-phone"></i>
                                                 010-020-02340
                                             </i>
                                         </li>
                                         <li>
                                            <i class="fa fa-globe"></i>
                                                123 Dagon Studio, Yakin Street, Digital Estate
                                            
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope"></i>
                                                <a href="#">info@company.com</a>
                                        
                                        </li>
                                     </ul>
                                 </div>
                             </div>
                         </div>
                     </div>
                    
                 </div>
                 
             </footer>
     <script>
    $(function () {
        $("a[class='login']").click(function () {
            $("#MyPopup").modal("show");
            return false;
        });
    });
</script>
            <script>
    $(function () {
        $("a[class='signUP']").click(function () {
            $("#Popup").modal("show");
            return false;
        });
    });
</script>
    
             
            </body>