          {% extends "header-footer.html" %}
          {% block head %}
          <style>
            #heading {
              background-image: url(/static/images/cart-png.png);
              background-repeat: no-repeat;
              background-color: rgb(245, 199, 26);
              background-size: 200px;
              height: 140px;
            }

            #heading h2 {
              font-size: 36px;
              font-weight: 700;
              color: #fff;
              text-transform: uppercase;
              font-family: inherit;
              margin-top: 20px;
              margin-bottom: 10px;
            }

            .heading-content {
              text-align: center;
            }

            .heading-content a {
              text-decoration: none;
              color: #f78e21;
              text-transform: uppercase;
            }

            #mycart {
              margin-top: 5%;
            }

            .shipping {
              margin-top: 40px;
              margin-left: 10px;
            }

            .cart {
              margin-top: 20px;
            }

            h5 {
              font-size: 22px;
              margin-bottom: 5px;

              color: #000;
              text-transform: capitalize;
              font-family: 'Rubik', 'sans-serif';


            }

            .quantity {
              width: 50px;
            }

            .cart-clear {
              margin-top: 20px;
              text-align: right;
            }

            .cart-clear a {
              text-decoration: none;
              margin: 10px;
              color: #333;
            }

            .cart-clear a:hover {
              color: orange;
              text-decoration: none;
            }

            .cart-close .fa {
              color: red;
              margin-left: 10px;
            }

            .sign .fa {
              color: black;

            }

            .sign {
              border: none;
              background: none;

            }

            .sign:focus {
              border: none;
              outline: none
            }

            .checkout .btn {
              width: 100%;
              float: none;
              outline: none;
              border: none;
            }

            .cart-clear a {
              border: 1px solid gray;
              padding: 5px;
            }

            .cart-clear a:hover {
              color: #000;
            }
          </style>
          </head>
          {% endblock %}
          {% block content %}
          <div id="heading">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="heading-content">
                    <h2>My Cart (<span id="cart_length">{{ cart_items|length }}</span>)</h2>
                    <span style="color:#fff;text-transform: uppercase;">Home /
                      <a href="">My cart</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="container" id="mycart">

            {% if cart_items|length == 0 %}
            <p class="alert alert-danger text-center">No items in your cart.</p>
            {% else %}
            <div class="row cart">
              <div class="col-md-8 border-right">
                <h5>Shopping Cart</h5>
                <div class="table cart-box">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Preview</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for c in cart_items %}
                      <tr class="cart-item" id="ci-{{c.id}}">
                        <td class="cart-preview">
                          <a href="/media/{{ c.product.image }}" target="_blank">
                            <img src='/media/{{ c.product.image }}' style="height:56px;width:60px">
                          </a>
                        </td>
                        <td class="cart-product">
                          <p>{{ c.product.name }} </p>
                        </td>
                        <td class="cart-price">
                          <p>
                            {% if c.product.price > c.product.discounted_price %}
                            <del class="text-danger">${{ c.product.price }} </del>
                            {% endif %}
                            ${{ c.product.discounted_price }}

                          </p>
                        </td>
                        <td class="cart-quantity">
                          <div class="def-number-input number-input safari_only mb-0">
                            <button onclick="alterQuantity( 'minus', '{{ c.id }}')" class=" sign minus decrease"><span><i
                                  class="fa fa-minus"></i></span></button>
                            <input class="quantity" min="0" id="q-{{c.id}}" name="quantity" value="{{ c.quantity }}"
                              type="number">
                            <button onclick="alterQuantity('plus', '{{ c.id }}')" class="sign plus increase"> <span><i
                                  class="fa fa-plus"></i></span></button>
                          </div>


                        </td>
                        <td class="cart-close">
                          <a href="/cart?delete={{c.id}}">
                            <i class="fa fa-times"></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <script>
                    function alterQuantity(operation, item) {
                      $.ajax({
                        url: '/change_quantity',
                        type: 'get',
                        data: { operation: operation, cart_item: item },
                        success: function (data) {
                          if (data.quantity == 0) {
                            $("#ci-" + item).hide();
                          }
                          $('#q-' + item).val(data.quantity);
                          $("#cart_length").html(data.n_cart_items);
                          checkout_price()
                        }
                      })
                    }
                  </script>
                  <div class="cart-clear">
                    <a href="/cart?remove={{user.id}}">clear cart</a>
                    <a href=""> update cart</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <h5>The total amount of</h5>

                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Original Price
                    <span id="original_price"> </span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Total Discount
                    <span class="text-danger" id="total_discount"> </span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                    <div>
                      <strong>Amount to pay</strong>
                      <strong>
                        <p class="mb-0">(including Taxes)</p>
                      </strong>
                    </div>
                    <span><strong id="final_price"></strong></span>
                  </li>
                </ul>
                <div class="checkout">
                  <div class="collapse" id="collapseExample">

                    <input type="text" class="form-control form-group font-weight-light" value="{{profile.address}}"
                      placeholder="Enter Address">
                    <input type="text" class="form-control form-group font-weight-light" value="{{profile.contact_number}}"
                      placeholder="Enter Phone number">



                  </div>
                  <button type="button" class="btn btn-primary btn-block" id="checkout-btn" onclick="displayAdd()">
                    go to checkout</button>

                  <script>
                    function displayAdd() {
                      $("#checkout-btn").hide(1000);
                      $("#collapseExample").slideDown(1000);
                      $("#payment-btn").slideDown(1000);
                    }
                  </script>
                  <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" id="payment-form">
                    <input type="hidden" name="cmd" value="_xclick" id="id_cmd">
                    <input type="hidden" name="charset" value="utf-8" id="id_charset">
                    <input type="hidden" name="currency_code" value="USD" id="id_currency_code">
                    <input type="hidden" name="no_shipping" value="1" id="id_no_shipping">
                    <input type="hidden" name="first_name" value="{{user.first_name}}">
                    <input type="hidden" name="address1" value="{{profile.address}}">
                    <input type="hidden" name="business" value="{{paypal_dict.business}}" id="id_business">
                    <input type="hidden" name="item_name" value="{{paypal_dict.names}}">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="hidden" name="amount" value="0" id="id_amount">
                    <input type="hidden" name="notify_url" value="{{ paypal_dict.notify_url }}" id="id_notify_url">
                    <input type="hidden" name="cancel_url" value="{{ paypal_dict.cancel_url }}" id="id_cancel_url">
                    <input type="hidden" name="return" value="{{ paypal_dict.return_url }}" id="id_return">
                  </form>
                  <div id="payment-btn" style="display: none;">
                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" alt="Buy it Now"
                      onclick="place_order()" />
                  </div>
                </div>

              </div>



            </div>
            {% endif %}
          </div>
          <script>
            function checkout_price() {
              var total_price = 0;
              var total_discount = 0;
              var final_price = 0;
              $.ajax({
                url: '/cart',
                type: 'get',
                data: { 'get_json_items': '' },
                success: function (data) {
                  console.log(data)
                  for (i in data.items) {
                    total_price += data.items[i].price
                    total_discount += data.items[i].price - data.items[i].discounted_price;
                    final_price += data.items[i].discounted_price;
                  }
                  $('#original_price').html('$' + total_price);
                  $('#total_discount').html('$' + total_discount);
                  $('#final_price').html('$' + final_price);
                  $('#id_amount').val(final_price);
                }
              })
            }
            checkout_price();

            function place_order() {
              $.ajax({
                url: '/cart',
                type: 'get',
                data: { place_order: "" },
                success: function (data) {
                  if (data.status == "success") {
                    $('#payment-form').submit();
                  } else {
                    alert("Could not place order, Please try again!");
                  }
                }
              })
            }
          </script>

          </body>
          {% endblock %}