{% extends "header-footer.html" %}
{% block head %}
<style>
    #heading {
        background-image: url('/static/images/bg-image.jpg');
        height: 140px;
    }

    .heading-content {
        text-align: center;
        margin-top: 35px;
        color: white;
        text-transform: uppercase;
    }

    .heading-content a {
        text-decoration: none;
        color: #f78e21;

    }

    .heading-section {
        text-align: center;
        padding: 100px 0 80 0;
        margin-top: 80px;
    }

    .heading-section h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        color: #333;
        font-weight: 700;
        text-transform: uppercase;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .col-md-12 .col-md-8 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    #contact-us {
        margin-top: 0px;
    }

    .message-form textarea {
        padding-bottom: 20px;
    }

    textarea {
        height: 165px;
        max-height: 180px;
        max-width: 770px;
        line-height: 18px;
        width: 100%;
    }

    input,
    textarea {
        padding: 10px;
        border: 1px solid #e2e2e2;
        width: 100%;

        font-size: 13px;
        font-style: italic;
        font-weight: 300;
        color: #aaa;
        outline: none;
    }

    input,
    button,
    select,
    textarea {
        font-family: inherit;
    }

    .send button {
        width: 90px;
        color: #fff;
        cursor: pointer;
        height: 35px;
        line-height: 30px;
        text-align: center;
        background-color: #f78e21;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
        border: 0;
        outline: none;
        margin-top: 30px;
    }


    .info p {
        padding-bottom: 20px;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #666;
        /* text-align: center; */
        margin-bottom: 10px;
    }

    .info i {
        color: #f78e21;
        margin-right: 10px;
        font-size: 18px;

    }

    .info a {
        text-decoration: none;
        color: #f78e21;
    }

    .fa {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;

    }

    .info li {
        list-style: none;
        margin: 10px 0;
    }
    a:hover{
        text-decoration: none;
    }
</style>
{% endblock %}
{% block content %}
{% if message %}
<script>
    alert('{{message}}');
    window.location = '/';
</script>
{% endif %}
<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>Contact Us</h2>
                    <span>
                        Home /
                        <a href="">contact us</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="product-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>feel free to send a messege</h2>
                    <img src="/static/images/under-heading.png">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact-us">
    <div class="container">
        <div class="row">
            <div class="product-item col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="message-form mt-5">
                            <form action="" method="POST" class="send-message">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="name col-md-4">
                                        <input type="text" name="name" id="name" value="" placeholder="Name" required>

                                    </div>
                                    <div class="email col-md-4">
                                        <input type="email" name="email" id="email" placeholder="Email" required>
                                    </div>
                                    <div class="subjecct col-md-4">
                                        <input type="text" name="subject" id="subject" placeholder="Subject" required>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="text col-md-12">
                                        <textarea name="text" placeholder="meassage" required></textarea>
                                    </div>
                                </div>
                                <div class="send">
                                    <button type="submit">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info mt-5">
                            <p>Duis at pharetra neque, ut condimentum, purus nisl pretium quam, in pulvinar velit massa
                                id elit.

                            </p>
                            <ul>
                                <li>
                                    <i class="fa fa-phone">
                                    </i>
                                    090-080-0970
                                </li>
                                <li>
                                    <i class="fa fa-globe"></i>
                                    456 New Dagon City Studio, Yankinn, Digital Estate
                                </li>
                                <li>

                                    <i class="fa fa-envelope"></i>
                                    <a href="#">sarab1807928@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}