{% extends "header-footer.html" %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<style>
    .dashboard {
        margin-top: 30px;
        text-align: center;
    }

    .fas {
        color: orange;
    }

    .nav-tabs {
        color: darkgray;
    }

    .nav-tabs a:hover {
        color: #333;
    }

    a {
        text-decoration: none;
        color: darkgray;
    }
    a:hover{
        text-decoration: none;
        color:none;
    }

    .form-control {
        border-bottom: 1px solid burlywood;
        margin: 20px;
        border: none;
    }

    .dashboard-button {
        outline:none;
        border: none;
        background-color: orange;
        color: #fff;
        padding: 5px;
        border-radius: 20px;
        width: 65px;
        font-weight: bold;
        float:left;

    }
    table,th,td  {
        border:0.5px solid gray;
        border-collapse:collapse;
    }
    .dashboard-button:focus{
        outline:none;
        border:none;

    }

    .cart {
        margin-top: 20px;
    }

    .card-title {
        color: #002366;
        margin-bottom: .5rem;
    }

    .card-price {
        font-size: 16px;
        display: inline-block;
        font-weight: 500;
        margin-bottom: 1.25rem;
    }

    .card-button {
        margin-top: 20px;
        width: max-content;
        padding: 1.25rem 2rem;
        background-color: #002366;
        color: #fff;
        border-radius: .5rem;
        font-weight: 600;
    }

    .cart a:hover {
        text-decoration: none;
        color: #fff;
    }

    .details {
        margin-top: 10px;
        font-size: 15px;
        width: 40%;
    }

    .details p {
        height: 20px;
    }

    .details p span:first-child {
        font-weight: bold;
    }

    
    .order-status .btn{
        width:auto;
        float:none;
    }
    @media (max-width: 767px) {
        .profile-img {
            display: none;
        }
    }
    .form-control{
        border:1px solid gray;
    }
    .newButton{
        background-color:orange;
        border:none;
        float:right;
        padding:10px;
        color:white;
        width:50%;
        margin-left:210px;
    }
    .newButton:focus{
        outline:none;
        border:none;
    }
    .changePass {
        width:80;
        padding:20px;
    }

</style>
{% endblock %}
{% block content %}
   {% if message %}
      <script>
       alert('{{message}}')
       window.location = '/dashboard';
      </script>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 dashboard">
                <h2>Welcome to the Dashboard</h2>
                <img src="/static/images/under-heading.png">
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-md-12 dashboard">
                <nav class="dashboad-nav">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#dashboard">Dasboard</a></li>
                        <li><a data-toggle="tab" href="#profile">Edit profile
                                <span><i class="fas fa-user-circle"></i></span>
                            </a></li>
                        <li><a data-toggle="tab" href="#password">Change password
                                <span><i class="fas fa-unlock"></i></span>
                            </a></li>
                        <li><a data-toggle="tab" href="#Orders">My orders ({{order_history|length}})
                                <span><i class="fas fa-utensils"></i>
                                </span>
                            </a></li>
                        <li><a href="{% url 'mycart' %}">My Cart<span>
                                    <i class="fas fa-cart-plus"></i>
                                </span></a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="dashboard" class="tab-pane fade in active">
                            <div class="card py-4">
                                <div class="details mx-auto">
                                    <a href="/media/{{ profile.profile_pic }}" target="_blank">
                                        <img src="/media/{{profile.profile_pic}}"
                                            style="border-radius:50%;height:80px;width:200px;height:200px;">
                                    </a>
                                    <table class="table mt-5">
                                        <tr>
                                            <th>Name</th>
                                            <td>{{profile.user.first_name}}</td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>{{user.email}}</td>
                                        </tr>
                                        <tr>
                                            <th>Contact Number</th>
                                            <td> {% if profile.contact_number %}
                                                {{ profile.contact_number }}
                                                {% else %}
                                                Not Added
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Address</th>
                                            <td> {% if profile.address %}
                                                {{ profile.address }}
                                                {% else %}
                                                Not Added
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Member Since</th>
                                            <td>{{user.date_joined}}

                                            </td>
                                        </tr>
                                            <th>Last Login</th>
                                            <td>{{user.last_login}}</td>
                                        <tr>
                                    </table>
                                   
                                </div>
                            </div>
                        </div>
                        <div id="password" class="tab-pane fade">
                            <h3>Change Password</h3>
                            <div class="row">
                                <div class="col-md-6 mt-5 mx-auto">
                                    <div class="card card-outline-secondary" style="padding:50px;padding-left:10px;">
                                
                                        <div class="card-body">
                                            <form action="" class="forms"method="post" autocomplete="off">
                                                {% csrf_token %}
                                               
                                                <div id="result" class="text-center pl-5"></div>
                                                <div class="form-group">
                                                    <label for="Lpass" style="padding-right:60%;margin-bottom:0;">Current Password</label>
                                                    <input type="password" class="form-control changePass" id="Lpass pass"placeholder="Current Password" name="old_password" required="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Npass"style="padding-right:70%;margin-bottom:0;">New Password</label>
                                                    <input type="password" class="form-control changePass inp"id="Npass pass" placeholder="New Password"name="new_password" required="">
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label for="Cpass"style="padding-right:80%;margin-bottom:0;">Verify</label>
                                                    <input type="password" class="form-control changePass inp" id="Cpass pass"placeholder="Confirm Passsword" name="" required="" onkeyup="checkPassword()">
                                                   
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-warning btn-lg float-none mt-5" id="btn" name="change_password">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                        <div id="profile" class="tab-pane fade">
                            <div class="card-dashboard">
                                <h3 class="mb-5">Edit Profile</h3>
                                <div class="row mx-auto">
                                    <div class="col-md-3 border-right">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <img class="rounded-circle mt-5" src="/media/{{profile.profile_pic}}">
                                            <span class="font-weight-bold">{{user.first_name}}</span>
                                            <span class="text-black-50">{{user.email}}</span>
                                            <span> </span>
                                        </div>
                                        </div>
                                        <div class="col-md-8 border-top">
                                        <form action="" method="post" enctype="multipart/form-data">
                                         {% csrf_token %}
                                            <div class="row mt-4">
                                                <div class="col-md-6">
                                                    
                                                    <label class="labels labels float-left ml-5">Name</label>
                                                    <input type="text" class="form-control" name="name"placeholder="first name" value="{{user.first_name}}">
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="labels labels float-left ml-5">Email</label>
                                                    <input type="text" class="form-control"name="email" value="{{user.email}}" placeholder="email">
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="col-md-6">
                                                    <label class="labels float-left ml-5">PhoneNumber</label>
                                                    <input type="text" class="form-control" name="phone" placeholder="enter phone number"
                                                     value="{% if profile.contact_number %}{{ profile.contact_number }}
                                                     {% else %}
                                                    NOT ADDED
                                                    {% endif %}">
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="labels float-left ml-5">Address</label>

                                                    <input type="text" class="form-control" name="address" placeholder="enter address" 
                                                    value="{% if profile.address %}{{ profile.address }}
                                                    {% else %}
                                                    NOT ADDED
                                                     {% endif %}">
                                               </div>
                                               <div class="row mt-4">
                                                   <div class="col-md-6">
                                                    <label class="labels float-left ml-5">Upload image</label>
                                                    <input type="file" class="form-control-file ml-5 w-100%" name="profile_pic" placeholder="choose file">
                                                   </div>
                                                   
                                                   <div class="col-md-6">
                                                   <button type="submit" class=" float-right mt-5 newButton"name="edit_profile">Save changes</button>
                                                   </div>
                                               </div>
                                               
                                            </div>        
                                                
                                          </form> 
                                        </div>
                                        
                                </div>

                            </div>
                        </div>
                        <div id="Orders" class="tab-pane fade">
                            {% if order_history|length == 0 %}
                            <h4 style="color:red">No order yet</h4>
                            {% else %}
                            <h4>Order History </h4>

                            <table class="table table-striped table-borderless table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        
                                        <th>Item</th>
                                        <th>Invoice ID</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in order_history %}
                                        <tr>
                                             <td>
                                                <table class="table table-borderless" style="border:none;">
                                                    {% for p in order.products %}
                                                        <tr>
                                                            <td><img src="/media/{{ p.image }}" style="height: 50px;width: 100px;"></td>
                                                            <td>{{ p.name }}</td>
                                                            <td>&dollar;{{ p.discounted_price }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td>{{ order.invoice }}</td>
                                            <td>{{ order.ordered_on }}</td>
                                            <td class="text-center order-status">
                                                {% if order.status == True %}
                                                <button class="btn btn-success btn-sm"> <i class="fas fa-check text-white"></i> Completed</button>                                
                                                {% else %}
                                                <button class="btn btn-danger btn-sm">&times; Failed</button>                                
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="/dashboard/?delete_order={{ order.id }}"><i class="fas fa-trash text-danger"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                        </div>
                        <!---cart---->
                        

                </nav>


            </div>
        </div>
    </div>
    <script>
        function checkPassword() {
            var p = $('#Npass').val();
            var cp = $('#Cpass').val();
            if ((p !== "") && (cp !== "")) {
                if (p !== cp) {
                    $('.inp').css({ 'border': '1px solid red' });
                    $('#result').html("<p class='alert alert-danger'>Password must be matched!</p>");
                    $('#btn').attr('disabled', true);

                } else {
                    $('.inp').css({ 'border': 'none' });
                    $('#result').html('');
                    $('#btn').attr('disabled', false);
                }
            }
        }

    </script>


    {% endblock %}