{% extends "header-footer.html" %}
{% block head %}
        <style>
            .from{
                width:60%;
                margin:auto;
            }
            .btn{
                align-items: center;
                float:none;
                width:100%;
                padding:10px;

            }
        
        </style>
{% endblock %}
{% block content %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 text-center mx-auto" style="border:1px solid gray;padding:10px;border-radius:20px;box-shadow:0px 0px 10px black;">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">Forgot Password?</h2>
                    <p class="text-muted">You can reset your password here</p>
                    <div id="result" class="text-danger"></div>
                        <div class="from">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="text" id="email" name="email" placeholder="email address" class="form-control form-group"  type="email">
                                <button type="button" class="btn btn-warning" onclick="get_pass()">Click To continue</button>
                                <div class="mt-2" style="display:none" id="spin">
                                <div class="spinner"></div>
                                </div>
                                <div class="form-group" style="display:none" id="afterotp">
                                <label>Enter OTP</label>
                                <input type="number" class="form-control" id="uotp" placeholder="Enter OTP here">
                                <button onclick="matchotp()" type="button" class="btn btn-info mt-3">Verify OTP</button>

                                </div>
                                <div style="display:none" id="changepass">
                                <div class="form-group">
                                    <label>Enter New Password</label>
                                    <input typr="password" name="npass" class="form-control" placeholder="Enter New Password">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="change my password" class="btn btn-success">
                                </div> 
                                <input type="hidden" id="realotp">
                                </div>
                            </form>

                        </div>
                      </div>
                </div>
            </div>
        </div>
        <script>
            function get_pass(){
               let username= $("#email").val()
               alert(username)
               $.ajax({
                   url:"{% url 'resetPassword' %}",
                   type:"get",
                   data:{username:username},
                   success:function(data){
                        if(data.status=="failed"){
                            $("#result").html("<p class='text-danger'> No user found </p>");
                        }
                        else if(data.status=="error"){
                            $("result").html("<p class=text-danger'>Something went wrong</p>")
                        }
                        else if(data.status=="sent"){
                            $("result").html("<p>An otp is sent to your Email Id:"+data.user+".</p>")
                        }
                   }
               })
            }
        </script>
{% endblock %}