{% extends "header-footer.html" %}
{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<style>
    .card {
        box-shadow: 0px 4px 8px 0px #BDBDBD;
        background-color: #f78e21;
        margin-top: 20px;

    }

    .profile-pic {
        width: 100px;
        height: 200px;
        box-shadow: 0px 4px 8px 0px #BDBDBD;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        background: 0 0;
        color: #e55d1e;
        border: none;
        padding: 5px 20px;
        font: inherit;
        font-size: 50px;
    }

    .owl-carousel .owl-nav button.owl-next:hover,
    .owl-carousel .owl-nav button.owl-prev:hover {
        color: #e55d1e !important;
        background-color: transparent !important
    }

    .owl-dots {
        display: none
    }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }

    .item {
        display: none
    }

    .next {
        display: block !important;
        position: relative;
        transform: scale(0.8);
        transition-duration: 0.3s;
        opacity: 0.6
    }

    .prev {
        display: block !important;
        position: relative;
        transform: scale(0.8);
        transition-duration: 0.3s;
        opacity: 0.6
    }

    .item.show {
        display: block;
        transition-duration: 0.4s
    }

    @media screen and (max-width: 999px) {

        .next,
        .prev {
            transform: scale(1);
            opacity: 1
        }

        .item {
            display: block !important
        }
    }

    .carousel-indicators li {
        border-radius: 100%;
        width: 10px;
        height: 10px;
        margin: 4px;
    }

    .bg_1 {
        display: block;
        opacity: .8;
        width: 100%;
        position: relative;
        height: 450px;
    }

    .carousel-caption h1 {
        text-shadow: 1px 1px #777;
        font-size: 48px;
        font-weight: 500;
        color: #f78e21;
        text-align: center;
        margin-bottom: 30%;


    }

    .carousel-caption a {
        margin-top: 20px;
        text-decoration: none;
        background-color: rgb(247, 142, 33);
        width: 200px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
    }

    .heading-section h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        color: #333;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 40px;


    }

    #services {
        margin-top: 80px;
    }

    .heading-section {
        padding-top: 100px 0 80px 0;
        text-align: center;
        margin-top: 90px;
    }

    .blog-post {
        position: relative;
        margin-bottom: 30px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .blog-thumb {
        overflow: hidden;
        position: relative;
    }

    .blog-thumb img {
        width: 100%!important;
        height: 200px!important;
        vertical-align: middle;

    }

    .fa {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;


    }



    .icon i {
        border-radius: 50%;
        border: 20px solid #f78e21;
        color: #f78e21;
        line-height: 80px;
        width: 120px;
    }

    .service-item {
        text-align: center;
        margin-top: 40px;
        display: block;

    }

    .service-item h4 {
        font-family: 'Open sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #333;
        text-transform: uppercase;
        margin-top: 40px;
    }

    .service-heading {
        font-family: "open Sans", "sans-serif";
        font-size: 16px;
        font-weight: bold;
        color: black;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    p {
        font-family: "open Sans", "sans-serif";
        font-size: 13px;
        color: #ffffff;
        margin: 0 0 10px;
    }

    .blog-content {
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 15px;
        
        transition: 1000s;
    }

    .content-show h4 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
        color: inherit;

    }

    .content-show a {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
    }

    .content-show span {
        color: #f78e21;
    }

    

    .blog-post:hover .blog-content {
        background-color: (0, 0, 0, 0.5);
        visibility: visible;
        height: 100%;
        width:100%;
        bottom: 0%;

    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid" style="width:100%;">
    <div class="row">
        <div class="col-md-12 px-0">

            <div class="carousel slide" data-ride="carousel" id="myslider">
                <ul class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#myslider"></li>
                    <li data-slide-to="1" data-target="#myslider"></li>
                    <li data-slide-to="2" data-target="#myslider"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://source.unsplash.com/1600x900/?food,desert" class="bg_1">
                        <div class="carousel-caption">
                            <h1>DELICIOUS MEAL</h1>
                            <a href="{% url 'product' %}">Explore Menu</a>

                        </div>

                    </div>
                    <div class="carousel-item ">
                        <img src="https://source.unsplash.com/1600x900/?tasty foods,desert" class="bg_1">
                        <div class="carousel-caption">
                            <h1>ICE CREAM MENUS</h1>
                            <a href="{% url 'product' %}">shop now</a>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://source.unsplash.com/1600x900/?food,drinks" class="bg_1">
                        <div class="carousel-caption">
                            <h1>HEALTHY DRINKS</h1>
                            <a href="{% url 'product' %}">get ready</a>
                        </div>
                    </div>
                </div>

                <a href="#myslider" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span></a>
                <a href="#myslider" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span></a>
            </div>
        </div>
    </div>
</div>

<div id="services mb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Services</h2>
                    <img src="/static/images/under-heading.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-pencil" style="font-size:48px;color:#f78e21;"></i>
                    </div>
                    <h4>MAKE AN ORDER</h4>
                    <p style="color:#333;">Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut
                        dignissim nec arcu nec hendrerit. Sed arcu sagittis vel diam in, malesuada malesuada risus.
                        Aenean a sem leoneski.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-bell" style="font-size:48px;color:#f78e21;"></i>
                    </div>
                    <h4>READY TO SERVE</h4>
                    <p style="color:#333;">Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut
                        dignissim nec arcu nec hendrerit. Sed arcu sagittis vel diam in, malesuada malesuada risus.
                        Aenean a sem leoneski.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-bullhorn" style="font-size:48px;color:#f78e21;"></i>
                    </div>
                    <h4>Promotions</h4>
                    <p style="color:#333;">Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut
                        dignissim nec arcu nec hendrerit. Sed arcu sagittis vel diam in, malesuada malesuada risus.
                        Aenean a sem leoneski.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-heart" style="font-size:48px;color:#f78e21;"></i>
                    </div>
                    <h4>SATISFACTION</h4>
                    <p style="color:#333;">Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut
                        dignissim nec arcu nec hendrerit. Sed arcu sagittis vel diam in, malesuada malesuada risus.
                        Aenean a sem leoneski.</p>
                </div>
            </div>



        </div>

    </div>
</div>

            
    <div id="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-section">
                        <h2>Latest Dishes</h2>
                        <img src="/static/images/under-heading.png">
                    </div>
                </div>
            </div>
        <div class="row" style="margin-top:80px;">
            {% for c in recent_dishes %}
            <div class="col-md-4 col-sm-6">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <img src="/media/{{c.image}}">
                    </div>
                    <div class="blog-content">
                        <div class="content-show">
                            <h4>
                                <a href="#">{{c.name}}</a></h4>
                            <span>{{c.added_on}}</span>
                        </div>
                        <!-- <div class="content-hide" style="display:none;"> -->
                        <p>
                            {{c.details}}
                        </p>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>


<div id="testimonails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>What our customers says</h2>
                    <img src="/static/images/under-heading.png">
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="owl-carousel owl-theme">
                <div class="item first prev">
                    <div class="card border-0 py-3 px-4">
                        <div class="row justify-content-center"> <img src="https://i.imgur.com/gazoShk.jpg"
                                class="img-fluid profile-pic mb-4 mt-3"> </div>
                        <h6 class="mb-3 mt-2">Marielle Haag</h6>
                        <p class="content mb-5 mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                    </div>
                </div>
                <div class="item show">
                    <div class="card border-0 py-3 px-4">
                        <div class="row justify-content-center"> <img src="https://i.imgur.com/oW8Wpwi.jpg"
                                class="img-fluid profile-pic mb-4 mt-3"> </div>
                        <h6 class="mb-3 mt-2">Ximena Vegara</h6>
                        <p class="content mb-5 mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                    </div>
                </div>
                <div class="item next">
                    <div class="card border-0 py-3 px-4">
                        <div class="row justify-content-center"> <img src="https://i.imgur.com/ndQx2Rg.jpg"
                                class="img-fluid profile-pic mb-4 mt-3"> </div>
                        <h6 class="mb-3 mt-2">John Paul</h6>
                        <p class="content mb-5 mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                    </div>
                </div>
                <div class="item last">
                    <div class="card border-0 py-3 px-4">
                        <div class="row justify-content-center"> <img src="https://i.imgur.com/T5aOhwh.jpg"
                                class="img-fluid profile-pic mb-4 mt-3"> </div>
                        <h6 class="mb-3 mt-2">William Doe</h6>
                        <p class="content mb-5 mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('.owl-carousel').owlCarousel({
            mouseDrag: false,
            loop: true,
            margin: 2,
            nav: true,
            responsive: {

                0: {

                    items: 1
                },
                600: {

                    items: 1
                },
                1000: {

                    items: 3
                }
            }
        });

        $('.owl-prev').click(function () {
            $active = $('.owl-item .item.show');
            $('.owl-item .item.show').removeClass('show');
            $('.owl-item .item').removeClass('next');
            $('.owl-item .item').removeClass('prev');
            $active.addClass('next');
            if ($active.is('.first')) {
                $('.owl-item .last').addClass('show');
                $('.first').addClass('next');
                $('.owl-item .last').parent().prev().children('.item').addClass('prev');
            }
            else {
                $active.parent().prev().children('.item').addClass('show');
                if ($active.parent().prev().children('.item').is('.first')) {
                    $('.owl-item .last').addClass('prev');
                }
                else {
                    $('.owl-item .show').parent().prev().children('.item').addClass('prev');
                }
            }
        });

        $('.owl-next').click(function () {
            $active = $('.owl-item .item.show');
            $('.owl-item .item.show').removeClass('show');
            $('.owl-item .item').removeClass('next');
            $('.owl-item .item').removeClass('prev');
            $active.addClass('prev');
            if ($active.is('.last')) {
                $('.owl-item .first').addClass('show');
                $('.owl-item .first').parent().next().children('.item').addClass('prev');
            }
            else {
                $active.parent().next().children('.item').addClass('show');
                if ($active.parent().next().children('.item').is('.last')) {
                    $('.owl-item .first').addClass('next');
                }
                else {
                    $('.owl-item .show').parent().next().children('.item').addClass('next');
                }
            }
        });

    });
</script>
{% endblock %}