{% extends "header-footer.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container text-center margin-auto">
    <img src="/media/success-tick.gif" style="height:300px">
    <p class="text-success">payment successfull</p>
</div>
{% endblock %}