{% extends "header-footer.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container text-center margin-auto">
    <img src="/media/error.gif" style="height:300px">
    <p class="text-danger">payment failed.Please try again</p>
</div>
{% endblock %}