{% extends "header-footer.html" %}
{% block head %}
<style>
    #heading {
        background-image: url('/static/images/bg-image.jpg');
        height: 140px;
    }

    .heading-content {
        text-align: center;
        text-align: center;
        margin-top: 35px;
        color: white;
        text-transform: uppercase;
    }

    .heading-content a {
        text-decoration: none;
        color: #f78e21;

    }

    #product-heading h2 {
        font-family: "open Sans", sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #333;
    }

    .col-xs-12 {
        width: 100;
        float: left;
    }

    .filters .col-md-12 .col-xs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;

    }

    #filters span {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: #444;
        padding-left: 15px;
    }

    #filters li {
        cursor: pointer;
        list-style: none;
        display: inline-block;
        text-align: -webkit-match-parent;
    }

    #container {
        margin-top: 80px;

    }

    #filters span:hover {
        color: #f78e21;
        
    }
    


    .portfolio-wrapper {
        /* overflow: hidden;  */
        padding-top: 20px;
    }

    .portfolio-thumb {
        position: relative;
    }

    .portfolio-thumb img {
        width: 100%;
        vertical-align: middle;
        border: 0;
    }

    .hover-iner a {
        text-decoration: none;
        position: absolute;
        top: 35%;
        left: 43%;
        margin-left: -18px;
        margin-top: -18px;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid #f78e21;
        width: 80px;
        height: 80px;
        line-height: 80px;
        color: #fff;
        text-align: center;
        box-sizing: border-box;
    }

    .hover-iner img {
        width: auto;
        vertical-align: middle;
        vertical-align: middle;
        border: none;

    }

    .hover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        visibility: hidden;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .hover-iner {
        position: relative;
        width: 100%;
        height: 100%;

    }

    .label-text a {
        text-decoration: none;
        color: black;
    }

    .label-text h3 {
        margin: 10px 0 2px 0;
        font-size: 16px;
        font-weight: 700;
        color: #333;
        text-transform: uppercase;
    }

    .label-text a:hover {
        color: #f78e21;
    }

    .portfolio-thumb {
        color: black;
    }

    .portfolio-thumb span {
        padding-top: 20%;
        padding-left: 5%;
    }

    .portfolio-wrapper:hover .portfolio-thumb .hover {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-in;
    }

    .hover-iner span {
        align-items: center;
        text-transform: uppercase;
    
        
        font-size: 20px;
        
        color: #f78e21;
        font-weight: 300;
        



    }

    .pagination {
        margin-top: 60px;
        display: inline-block;
        padding-left: 20px;
        border-radius: 4px;
    }

    .pagination li {
        background-color: #fff;
        list-style: none;
        display: inline-block;
        color: #fff;
    }

    .pagination a {
        background-color: #333;
        color: white;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
    }

    .pagination li :hover {
        background-color: coral;
    }

    .fancybox-close {
        position: absolute;
        top: -18px;
        right: -18px;
        width: 36px;
        cursor: pointer;
        z-index: 8040;
    }

    .fancybox-lock .fancybox-ovarlay {
        overflow: auto;
        overflow-y: scroll;
    }

    .fancybox-ovarlay-fixed {
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .btn {
        position: inherit !important;
        margin: 0px !important;
        float: none !important;
    }
    #filters a:hover{
        text-decoration: none;

    }
</style>
{% endblock %}
{% block content %}
<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>OUR MENU ({{ items|length }})</h2>
                    <span>
                        Home /
                        <a href="">Our Menu</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="products-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5 text-center">
                <div id="product-heading">
                    <h2>HUNGARY ?</h2>
                    <img src="/static/images/under-heading.png">
                </div>

            </div>
        </div>
        <div class="row mt-5" style="text-align: center;padding-right:30px;">
            <div class="filters col-md-12 col-xs-12">
                <ul id="filters" class="clearfix">
                    <li>
                        <a href="?q=all">
                            <span class="filter active" data-filter="all">ALL</span>
                        </a>
                    </li>
                    {% for c in categories %}
                    <li>
                        <a href="?q={{c.id}}">
                            <span class="filter" data-filter="all">
                                {{c.name}}
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row" id="container">
            <div class="col-md-12" id="product_section">
                <p class="alert alert-primary text-center" id="hide"><strong>{{items|length}} </strong>dishes found</p>
            </div>
            {% for item in items %}
            {% if item.is_available %}
            <div class="col-md-3 col-sm-6 mix portfolio-item Pizza text-center" style="display:inline-block;">
                {% else %}
                <div class="col-md-3 col-sm-6 mix portfolio-item Pizza alert alert-danger"
                    style="display:inline-block;">
                    {% endif %}
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="/media/{{item.image}}" style="height: 250px;">
                            <div class="hover">
                                <div class="hover-iner">
                                    <a style="cursor: pointer;" type="button" class="fancybox" data-toggle="modal"
                                        data-target="#productModal{{item.id}}">
                                        <img src="/static/images/open-icon.png">
                                    </a>
                                    <span style="margin-top:40px;">{{item.category.name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3 style="margin:15px;">
                                <a href="">{{item.name}}</a>
                            </h3>
                            <span class="text-category" style="margin-bottom:0px">
                                {% if item.price > item.discounted_price %}
                                <del class="text-danger">${{item.price}}</del>
                                {% endif %}
                                ${{item.discounted_price}}
                            </span>
                        </div>
                    </div>

                </div>

                <div class="modal fade" id="productModal{{item.id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <img src="/media/{{item.image}}" class="w-100 card-img" alt="">
                                <h4 style="color:orange; text-align: center;">{{item.name|upper}}</h4>

                                <h5 style="color:#333;font-weight: bold;">INGREDIENTS :</h5>
                                <p style="font-family: sans-serif;font-size:15px;">{{item.ingredients}}</p>
                                <h5 style="color:#333;font-weight:bold;">DETAILS :</h5>
                                <p style="font-family: sans-serif;font-size:15px;">{{item.details}}</p>

                                <p>
                                    <span class="text-category" style="color:orange;">
                                        {% if item.price > item.discounted_price %}
                                        <del style="color:red;">${{item.price}}</del>
                                        {% endif %}
                                        ${{item.discounted_price}}
                                    </span>
                                </p>

                            </div>
                            <div class="modal-footer">
                                {% if item.is_available %}

                                <p id="response_msz{{item.id}}"></p>
                                <a href="#"><button class="modal-btn btn-success mr-5"
                                        onclick="addToCart('{{item.id}}','{{user.is_authenticated}}')">Add To
                                        Cart</button>
                                    {% endif %}
                                    <button data-dismiss="modal" class="modal-btn btn-danger d-inline">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="pagination">
                     <div class="row">
                      <div class="col-md-12">
                        <ul>
                            <li><a href="#">Previous</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>  
                      </div>   
                     </div>
                 </div>  -->

            </div>
        </div>
    </div>
    <script>
        function addToCart(itemId, userStatus) {
            if (userStatus == "False") {
                return window.location.href = '/signin';

            } else {
                $.ajax({
                    url: "/add_to_cart",
                    type: "get",
                    data: { product_id: itemId },
                    success: function (data) {
                        if (data.status == 0) {
                            $('#response_msz' + itemId).html(data.message).addClass('text-danger');
    
                        } else {
                            $('#response_msz' + itemId).html(data.message).addClass('text-success');
                            window.location.href = '/cart';
                        }
                    }
                })
            }
        }
    </script>
    <script>
        $(function(){
            setTimeout(function(){
                $("#hide").fadeOut(1000);
            },500)
            })
        
    </script>

    {% endblock %}