{% extends "header-footer.html" %}
{% block head %}
<style>
    * {
        box-sizing: border-box;
    }

    .limiter {
        width: 100%;
        margin: 0 auto;
    }

    .container-login {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;

    }

    .wrap-login {
        width: 500px;
        height: 460px;
        padding: 10px 90px 33px;
        background: #0000;
        border-radius: 50px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .login100-form-title {
        font-weight: 500;
        font-size: 24px;
        color: #333;
        line-height: 1.2;
        text-align: center;
        width: 100%;
        display: block;
        padding-bottom: 54px;
    }

    .validate-input {
        position: relative;
        width: 100%;
        z-index: 1;
        margin-bottom: 10px;
    }

    .input100 {
        font-family: Poppins-Medium;
        display: block;
        font-size: 15px;
        line-height: 1.5;
        color: #666;
        border-bottom: 1px solid #e6e6e6;
        width: 100%;
        background-color: transparent;
        height: 50px;
        border-radius: 25px;
        padding: 0 30px 0 68px;

    }

    .wrap-input100 {
        width: 100%;
        z-index: 1;
        margin-bottom: 10px;
    }

    input {
        outline: none;
        border: none;
        overflow: visible;

    }

    .container-login100-form-btn {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
    }

    .txt1 {
        font-family: Poppins-Regular;
        font-size: 13px;
        line-height: 1.5;
        color: #999;
    }

    .txt2 {
        font-family: Poppins-Regular;
        font-weight: 900;
        font-size: 15px;
        line-height: 1.5;
        color: #666;
        padding-bottom: 10px;

    }

    a {
        -webkit-transition: all .4s;
        text-decoration: none;
        background-color: transparent;
    }

    a:hover {
        color: #57b846;
        text-decoration: none;
    }

    .txt3:hover {
        color: #57b846;
    }

    .login100-form-btn {
        font-size: 15px;
        padding-top: 20px;
        color: #fff;
        text-transform: uppercase;
        width: 100%;
        border-radius: 25px;
        background: #57b846;
        justify-content: center;
        align-items: center;

        padding: 12px;
        border: none;
        outline: none;
    }

    button:hover {
        outline: none;
        background-color: #666;
        border: none;
    }

    .p-t-12 {
        padding-top: 12px;
        text-align: center;
    }

    .txt2 {
        padding-top: 30px;
    }

    .symbol-input100 {
        font-size: 15px;
        display: flex;
        align-items: center;
        position: absolute;
        border-radius: 25px;
        height: 100%;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-left: 35px;
        pointer-events: none;
        color: #666;
        transition: all .4s;
    }

    @media screen and (max-width: 600px) {
        div.login100-pic {
            display: none;
        }
    }

    .txt3 {
        font-family: Poppins-Regular;
        padding-top: 5px;
        font-size: 14px;
        line-height: 1.5;
        color: #666666;
    }

    .p-b-20 {
        padding-bottom: 20px;
    }

    .flex-c-m {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-item {
        font-size: 25px;
        margin: 5px;
        color: #fff;
        display: flex;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;

    }

    .bg1 {
        background-color: #3b5998;
    }

    .bg2 {
        background-color: #1da1f2;
    }

    .bg3 {
        background-color: #ea4335;
    }

    .social-item:hover {
        background-color: #666666;
        color: #fff;
    }
</style>
{% endblock %}
{% block content %}


<div class="limiter">
    <div class="container-login">
        <div class="login100-pic">
            <img src="/static/images/login.png" style="height:480px">
        </div>
        <div class="wrap-login">


            <form class="login100-form validate-form" method="post">
                {% csrf_token %}
                <span class="login100-form-title">
                    Member Login
                </span>
                {% if message %}
                <div class="alert alert-danger">{{message}}</div>
                {% endif %}
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pass" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Login
                    </button>
                </div>
                <div class="text-center p-t-12">
                    <span class="txt1">
                        Forgot
                    </span>
                    <a class="txt2" href="{% url 'forgotPassword' %}">
                        Username / Password?
                    </a>
                </div>



                <div class="text-center mt-4">
                    <a class="txt2" href="{% url 'signup' %}">
                        Create your Account
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}