{% extends "header-footer.html" %}
{% block head %}
<style>
    * {
        box-sizing: border-box;
    }

    .limiter {
        width: 100%;
        margin: 0 auto;
    }

    .container-login {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;

    }

    .wrap-login {
        width: 500px;
        margin-left: 20px;
        padding: 10px 90px 33px;
        background: #0000;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .login100-form-title {
        padding-top: 30px;
        font-weight: 500;
        font-size: 24px;
        color: #333;
        line-height: 1.2;
        text-align: center;
        width: 100%;
        display: block;
        padding-bottom: 54px;
    }

    .validate-input {
        position: relative;
        width: 100%;
        z-index: 1;
        margin-bottom: 10px;
    }

    .input100 {
        font-family: Poppins-Medium;
        background-color: transparent;
        border-bottom: 1px solid #e6e6e6;
        font-size: 15px;
        line-height: 1.5;
        color: #666;

        width: 100%;

        height: 50px;
        border-radius: 25px;
        padding: 0 30px 0 68px;
    }

    .wrap-input100 {
        width: 100%;
        z-index: 1;
        margin-bottom: 10px;
    }

    input {
        outline: none;
        border: none;


    }

    .container-login100-form-btn {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
    }




    .login100-form-btn {
        font-size: 15px;
        padding-top: 20px;
        color: #fff;
        text-transform: uppercase;
        width: 100%;
        border-radius: 25px;
        background: #57b846;
        justify-content: center;
        align-items: center;

        padding: 12px;
        border: none;
        outline: none;
    }

    button:hover {
        outline: none;
        background-color: #666;
        border: none;
    }

    .p-t-12 {
        padding-top: 12px;
        text-align: center;
    }

    .txt2 {
        padding-top: 30px;
    }

    .symbol-input100 {
        font-size: 15px;
        display: flex;
        align-items: center;
        position: absolute;
        border-radius: 25px;
        height: 100%;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-left: 35px;
        pointer-events: none;
        color: #666;
        transition: all .4s;
    }

    @media screen and (max-width: 600px) {
        div.login100-pic {
            display: none;
        }
    }

    p {
        font-family: Poppins-Regular;
        padding-top: 5px;
        font-size: 14px;
        line-height: 1.5;
        color: #666666;
    }

    .p-b-20 {
        padding-bottom: 20px;
    }

    .flex-c-m {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .txt2 {
        padding-top: 30px;

        font-family: Poppins-Regular;
        font-weight: 900;
        font-size: 15px;
        line-height: 1.5;
        color: #666;
        padding-bottom: 10px;

    }

    a:hover {
        color: #57b846;
        text-decoration: none;
    }
</style>
{% endblock %}
</head>
{% block content %}
{% if status %}
<script>
    alert('{{status}}');
    window.location = '/signin';
</script>
{% endif %}
{% if error %}
<script>
    alert('{{error}}');
</script>
{% endif %}
<div class="limiter">
    <div class="container-login">
        <div class="login100-pic">

            <img src="/static/images/signIn.png" style="height:450px">
        </div>

        <div class="wrap-login">


            <form class="" method="post">
                {% csrf_token %}
                <span class="login100-form-title">
                    SIGN UP
                </span>
                <p class="text-center alert" id="msz"></p>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="name" placeholder="Your Name Here" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="email" name="email" id="email" placeholder="Your Email Here" required
                        onkeyup="check_username()">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100 inp" type="password" name="pass" placeholder="Password" id="pass" required
                        onkeyup="checkPassword()">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100 inp" type="password" name="Cpass" id="cpass" placeholder="Confirm Password"
                        required onkeyup="checkPassword()">
                    <div id="result"></div>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                

                <p>By creating an account you agree to our <br /><a href="#" style="color:dodgerblue">Terms &
                        Privacy</a>.</p>


                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn" id="sb-btn">
                        Sign UP
                    </button>
                </div>
            </form>
            <div class="text-center mt-5">
                <a class="txt2" href="{% url 'signin' %}">
                    Already Member ?
                    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                </a>
            </div>



        </div>
    </div>
</div>
<script>

    function checkPassword() {
        var p = $("#pass").val();
        var cp = $("#cpass").val();
        if ((p != "") && (cp !== "")) {
            if (p != cp) {
                $('.inp').css({ 'border': '1px solid red' });
                $('#result').html('password must be Matched!');
                $('#sb-btn').attr('disabled', true);
            } else {
                $('.inp').css({ 'border': 'none' });
                $('#result').html('');
                $('#sb-btn').attr('disabled', false);
            }
        }
    }

    function check_username() {
        let username = $('#email').val();
        $.ajax({
            url: '/check_username_exists/',
            type: 'get',
            data: { username: username },
            success: function (data) {
                if (data.status == true) {
                    $("#email").css({ border: '1px solid red' });
                    $("#msz").html('<small>' + data.message + '</small>').addClass('alert-danger');
                    $('#sb-btn').attr('disabled', true);
                } else {
                    $("#email").css({ border: 'none' });
                    $("#msz").html('').removeClass('alert-danger');
                    $('#sb-btn').attr('disabled', false);
                }
            }
        })
    }
</script>

{% endblock %}